<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about-us</title>
    <link rel="stylesheet" href="component/css/aboutus.css">
    
</head>

<body>
<div id="aboutbigfirst">
<div class="aboutbox ab1">

    <div class="abtext">
        <h2>Meet our leadership</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem alamet, dicta . Qui, quibusdam. Deleniti repellat in quod hic tenetur autem deserunt neque sit?uid modi? Minus sunt maiores vel, alias recusandae aut?</p>

    </div>
</div>
<div class="aboutbox ab2">
    <div class="member">
         <div class="memberlist">
            <img src="/images/peopleimg/bigboy.png" alt="">
          <div class="mtitle">
            <h2>Lorem, ipsum.</h2>
            <p>Founder/CEO</p>
          </div>
        </div>
        <div class="memberlist">
            <img src="/images/peopleimg/Bob-Lazar_prev_ui.png" alt="">
        <div class="mtitle">
            <h2>Lorem, ipsum.</h2>
            <p>Co-Founder/CTO</p></div></div>
        <div class="memberlist">
            <img src="/images/peopleimg/fit.png" alt="">
        <div class="mtitle">
            <h2>Lorem, ipsum.</h2>
            <p>Ufologist</p></div></div>
        <div class="memberlist">
            <img src="/images/peopleimg/1964_prev_ui.png" alt="">
        <div class="mtitle">
            <h2>lorm kuredf
            </h2>
            <p>Lorem, ipsum.</p></div></div>
        <div class="memberlist">
            <img src="/images/peopleimg/george.png" alt="">
        <div class="mtitle">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum.</p></div>
        
           </div>
           <div class="memberlist">
            <img src="/images/peopleimg/nickpop.png" alt="">
        <div class="mtitle">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum.

            </p>
        </div>
    </div>
           </div>
</div></div>
   <div class="about-us">
    <h3>About us</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aspernatur facilis recusandae quidem quo inventore, tempora vel! Et id veniam exercitationem adipisci quos architiquam itaquloe  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis rem natus voluptas!veritatis vero maxime maiores quam, placeat ab iusto eos!ali Lorem ipsum dolor sit, amet consectetur adipisicing elitdeleniti hic odit error quam ecto assumenda, voluptates molestiae dolores sequi? Itaque?</p>
   </div>
   </body>
   </html>