<head>
  <link rel="stylesheet" href="/component/css/joinus.css">
</head>
<div class="isolate">

  <div class="brandbox">
    <div class="brandboxtext">
      <h2>Join community</h2>
      <p class="">Aute magna irure deserunt veniam aliqua magna enim Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Obcaecati, quas.voluptate.</p>
        <div class="minbbt mbt1">
          <img src="/images/icons/location-filled-svgrepo-com.svg" alt="">
          <P> Area 51 road Navada, LA 6382</P>
        </div>
        <div class="minbbt mbt2">
          <img src="" alt="">
          <P>+8979 97983</P>

        </div>
        <div class="minbbt mbt3">
          <img src="/images/icons/email.svg" alt="">
          <P>contact@example.con</P>
        </div>
    </div>
  </div>
  <div class="formbox">
    <form action="#" method="POST">

      <div class=" ff1">
        <input class="fbox" autocomplete="on" type="text" placeholder="First name">
        <input class="fbox" type="text" placeholder="Last name">
      </div>


      <div class="ff fbox ff2">
        <input class="fbox " type="text" placeholder="First name">
      </div>
      <div class="fbox ff ff3">
        <input class="fbox " type="text " placeholder="Last name">
      </div>
      <div class=" ffbox formmessage">

        <textarea class="fbox" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        
      </div>
<div class="ff4"><input type="submit" value="Submit"></div>
    </form>