<head>
    <link rel="stylesheet" href="/component/css/news.css">
</head>
<body>
    

<div class="newsfeed newsfeedmenu">
   <p> Latest updates</p>
</div>
<div class="newsfeed newsfeedbox">

<div class="news newsbox1">
    <div class="news1">
        <img src="/images/sighting/img4.jpg" alt="">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aut animi laudantium deserunt facilis </h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae eveniet eum at tenetur mollitia debitis fugit quod, doloribus quisquam?</p>
        </div>
    <div class="news2">
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, quod!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo excepturi corrupti optio amet consequatur!</p>
    </div>
</div>
<div class="news newsbox2">
    <img src="/images/sighting/imagestu.jpeg" alt="">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, a!
        Lorem ipsum dolor sit amet.
    </h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officia reprehenderit accusantium consectetur facere nobis quos quis accusamus vel iusto! Quos illum beatae necessitatibus repudiandae fugiat, voluptatibus sequi magnam tempore.</p>
</div>
<div class="news  newsbox3">
    <div class=" newsthird news3">
        <img src="/images/sighting/img1.jpg" alt="">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, adipisci!</h4>
    </div>
    <div class=" newsthird news4"><img src="/images/sighting/img6.jpeg" alt="">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, adipisci!</h4></div>
</div>
<div class="news  newsbox4">
<img src="/images/sighting/Skinny_bob.png" alt="">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, totam?</h5>
<p>Lorem ipsum dolor sit amet consectetur adipios impedit ipsa distinctio excepturi delectus molestias obcaecati harum?</p>
   
</div>
</div>

</main>

</body>